.accordion {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    border: none;
    background-color: whitesmoke;
    margin-top: 20px;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion>p {
    flex-grow: 1;
    margin: 0;
}

.accordion.open, .accordion:hover {
    background-color: darkgrey;
}