.card {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    outline: none;
    border: none;
    margin-top: 20px;
    font-size: 1em;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding-left: 20px;
}

.card.open, .card:hover {
    background-color: darkgrey;
}