#recipe-forms-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
    border-radius: 3px;
}

input[type=text], textarea, input[type=url] {
    margin: 20px;
}

input[type=text], textarea, input[type=url], input[type=submit] {
    padding: 20px;
}

input[type=submit] {
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    background-color: lightblue;
    border: none;
    border-radius: 3px;
    align-items: center !important;
}

.recipe-forms:focus-within {
    outline-color: blue;
    outline-style: none;
}

.recipe-forms:focus-within>span {
    font-weight: bold;
}

textarea {
    resize: vertical;
}