#saved-recipes-container {
    justify-content: space-around;
}
.card {
    flex-grow: 1;
    border: solid 1px black;
    box-shadow: 3px 6px 9px grey;
    background-color:whitesmoke;
    padding: 5px;
    margin-top: 20px;
}