#saved-recipes-container {
    /* justify-content: space-around;
    position: relative;
    height: auto; */ 
    /* do none of these do anything im confused */
}

.card {
    border: solid 1px black;
    padding: 5px;
    margin-top: 20px;
    /* word-wrap:break-word; */
}
