body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    min-width: 200px;
}

main {
    flex-grow: 1;
    flex-basis: 0;
}
header, h1, h2, h3, h4 {
    margin: 0;
    /* border: 5px red solid; */
}

/* a{
    border: 5px solid red;
} */
/* h1  {
    padding: 5px;
    margin: 10px;
    border: 5px red solid;
} */

header, h1, h2, h3, h4{
    font-family: Arial, sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}

/* #website-name{
    margin-left: 10px;
    padding-left: 5px;
} */
h1 {
    /* border: 5px solid red; */
}
p, a, label, textarea, button, .label, .slide-img-caption,li {
    font-family: Georgia;
}

.navlinks, #drop-down-items {
    list-style-type: none;
    padding: 5px;
    margin: 0;
}

.navlinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: black;
    font-size: 1.5em;
    /* margin-left: 10px; */
    /* padding-left: 15px; */
    

}

.navlink {
    position: relative;
    
    
}

.navlink>a, .label, #drop-down-items>li>a {
    display: block;
    /* margin: 10px; */
    padding: 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.navlink>a:hover, .label:hover, #drop-down-items>li>a:hover {
    display: block;
    background-color: rgb(80, 80, 80);
}

.navlink>a:active, .label:active {
    display: block;
    background-color: lightblue;
}

#drop-down-items {
    display: none;
    position: absolute;
    background-color: black;
}

#drop-down-items.open {
    display: block;
    z-index: 2;
}

#menu-button {
    display: none;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    margin: 10px;
    padding: 5px;

}

.card {
    background-color: whitesmoke;
    box-shadow: 3px 6px 9px grey;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 600px) {
    header {
        background-color: black;
        color: white;
        /* margin: -8px;   */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        left: 0;
        right: 0;
        top: 0;
        box-shadow: 0 0 20px black;
        z-index: 1;
        /* added */
        flex-wrap: wrap;

    }
    h1 {
        /* padding: 8px; */
        padding: 5px;
    }
    #menu-button {
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
    }
    #menu-button:hover {
        background-color: rgb(80, 80, 80);
    }
    #navigation {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
    }
    .navlinks {
        flex-direction: column;
    }
    .navlink>a, .navlink>.label, #drop-down-items>li>a {
        border-top: 1px solid white;
    }
    #drop-down-items {
        display: none;
    }
    #drop-down-items.open {
        display: block;
    }
    #navigation.open {
        display: block;
    }
}