.recipe-forms{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    /* margin-top: 20px;
    padding: 5px; */
    /* border: 1px solid darkgrey; */
    border-radius: 3px;
    background-color: #f6f6f6f6;
    /* box-shadow: inset 0 0 2px #99999999; */
    box-shadow: 9px 4px 7px 0px #99999999;

}
/* 
.recipe-forms > input[type=text], textarea{
    border: none;
    background: none; 
    outline: none;
    padding: 0;
} */

input[type=text],textarea, input[type=url]{
    padding: 20px;
    margin: 20px;
    
    /* box-shadow:0 0 15px 4px rgba(0,0,0,0.06); */
}
input[type=submit] {
    padding: 20px;
    margin: 20px;
    width: 30%;
    background-color: lightblue;
    border: none;
    align-items: center !important; 

    /* box-shadow:0 0 15px 4px rgba(0,0,0,0.06); */
}

