body{
    margin: 0;
}
.root{
   
    list-style-type: none;

    margin: 0;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
 
    /* padding: 20px; */
    justify-content: space-around;
    box-sizing: border-box;
    /* background-color: black; */
}
#save{
    /* display: block;
    padding: 5px; */
    color: black;
    /* background-color: lightblue; */
    text-decoration: none;
    
    /* background-color:darkcyan; */
    /* justify-content: center; */
}

/* .button {
    width:50%;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
    text-align:center;

  } */
  #create:hover {
    /* display: block; */
    background-color: lightgrey;
    /* padding: 5px; */
    
    
}
#save:hover {
    /* display: block; */
    background-color: lightgrey;
    /* padding: 5px; */
    
    
}
.button{
    margin:10px;
    background-color: lightblue;
    /* width: 50vw; */
    width:50%;
    /* justify-content: space-between; */
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 100vh;

   
   
    /* background-color: lightpink; */
    /* justify-content: flex-start; */
    /* width: 50vw; */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; */

}
.button2{
    margin:10px;
    width:50%;
    height: 100vh;
    background-color: lavender;
    /* width: 50vw; */
    /* justify-content: space-between; */
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;


    /* background-color: lightblue;
    /* bottom: 0;
    right:0; */
    /* width: 50vw; */
    /* justify-content: space-between; */
    /* display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;  */

}
  #create{
      color: black;
     
      /* background-color:red; */
      /* bottom: 0; */
      /* right:0; */
      /* justify-content: center;
      display: block;
      padding: 5px; */
      /* background-color: lavender; */
      text-decoration: none;
  }
  